<nav class="navbar navbar-expand-lg shadow-sm p-3 mb-5 bg-white">
  <div class="container-fluid">
    <a class="navbar-brand mx-auto " href="#">SAOLA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="mx-auto" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active mx-2" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Our Story</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary mx-2 rounded-pill" style="background: #faa5a5;
          border: #faa5a5;">
            <i class="bi bi-chat-heart" style="color: white;"></i>
            <span class="mx-1">Send Feedback</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>